.video-text-track {
	box-sizing: border-box;
	padding-block: var(--wp--preset--spacing--80);
}

.video-text-track__inner {
	display: flex;
	gap: 0 var(--wp--preset--spacing--60);

	@media screen and (max-width: 900px) {
		flex-direction: column;
	}
}

.video-text-track .wp-block-video {
	flex: 1;
	margin-bottom: 0;
}

.video-text-track .wp-block-video video {
	display: block;
}

.video-text-track video::cue {
	font-size: var(--wp--preset--font-size--x-large);
}

.video-text-track__text {
	flex-basis: 400px;
	position: relative;

	@media screen and (max-width: 599.9px) {
		padding-inline: var(--wp--preset--spacing--40);
	}
}

// TODO only hide the primary text track if there's more than one.
.video-text-track video:not(:fullscreen)::cue {
	visibility: hidden;
}

.video-text-track__scroller {
	display: flex;
	flex-direction: column;
	font-size: var(--wp--preset--font-size--x-large);
	gap: var(--wp--preset--spacing--40);
	inset: 0;
	line-height: 1.2;
	overflow-y: hidden;
	padding-block: 50% 0;
	position: absolute;
}

.video-text-track__text span {
	display: block;
}

